.line {
	float: left;
	width: 100%;
	text-align: center;
}

#result .fill {
	margin-top: -40px;
	z-index:0;
	float: left;
	position: relative;
}

#result span {
	z-index:10;
	float: left;
	position: relative;
}